.body-form{
    background: linear-gradient(90deg, #8f0303 10%, #e40e0e 100%);
    width: 500px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    font-style: italic;
    color: antiquewhite;
}