<nav class="container"  aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a routerLink="/inicio">Inicio</a></li>
        <li class="breadcrumb-item " aria-current="page">Library</li>
    </ol>
</nav>

<div class="d-flex justify-content-center">
    <div class="card text-center">

        <div class="card-body">
          <h5 class="card-title">Nosotros</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae veniam est qui ipsam dolores, maiores saepe dicta, sunt provident suscipit in facere? Quisquam sed consequatur voluptatem error quo eius?</p>
          <a routerLink="/contacto" class="btn btn-primary">Contacto</a>
        </div>

      </div>

</div>